body {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: Roboto, sans-serif;
  /*overflow-x: hidden;*/
}

h1, h2, h3, h4, h5, h6 {
  /*
  font-family: Roboto,Menlo,Monaco,Consolas,"Courier New",monospace;
  */
  color: lightgray;
}

label {
  margin-top: 5px !important;
  margin-bottom: 3px !important;;
}

.alert-warning {
  border-color: #cfb683;
}
.well { border-color: gray; }

pre { margin-top: 10px; margin-bottom: 10px; }
